---
title: "Contacto"
description: "Pongase en contacto y vamos a conversar sobre su proyecto"
fullWidth: true
layout: page
---

{# <div class="vs-section mb-10">
    <h2 class="vs-heading">Vamos a conversar!</h2>
    <h3 class="vs-sub-heading font-normal">
        Descubra el pináculo de la excelencia en ingeniería con Viento Sur Engenharia, una empresa uruguaya líder
        especializada en ingeniería civil y estructural.
    </h3>
</div> #}

<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 justify-center p-3 md:p-10 mb-10">
  <div class="md:col-span-3 pr-0 md:pr-6">
    <h2 class="text-2xl font-bold mb-4 align-right font-titillium text-metal">¿Cómo podemos ayudarte?</h2>

    <form class="vs-contact-form">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 align-right">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
          <input type="text" id="name">

          <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
          <input type="email" id="email">

          <label for="company" class="block text-sm font-medium text-gray-700">Compañía (opcional)</label>
          <input type="text" id="company">

          <label for="country" class="block text-sm font-medium text-gray-700">País</label>
          <select id="country">
            <option value="">Seleccionar país</option>
            </select>
        </div>

        <div>
          <label for="sector" class="block text-sm font-medium text-gray-700">Sector</label>
          <select id="sector">
            <option value="">Seleccionar sector</option>
            </select>

          <label for="interested_in" class="block text-sm font-medium text-gray-700">Interesado en...</label>
          <select id="interested_in">
            <option value="">Seleccionar opción</option>
            </select>
        </div>
      </div>

      <label for="message" class="block text-sm font-medium text-gray-700">Tu mensaje</label>
      <textarea id="message" rows="6"></textarea>

      <button type="submit" class="mt-4 bg-sienna hover:opacity-50 text-white font-bold py-2 px-5 rounded-full">ENVIAR MENSAJE</button>
    </form>
  </div>

  <div class="border-l-[1px] border-sienna pl-6 md:pl-12 min-w-72 md:mt-0 mt-5">
    <h2 class="text-2xl font-bold mb-4 font-titillium text-metal mt-0 md:mt-5">Oficina Central</h2>
    <p class="text-metal font-light leading-tight text-sm mb-2">Ponce de León, esquina Rivera 231 - Parque Battle - Montevideo, <br>URUGUAY.</p>
    <p class="font-roboto font-bold text-metal mt-4">
        <span class="material-symbols-outlined text-sienna text-base pr-1">mail</span>
         info@vsi.com.uy
    </p>
    <p class="font-roboto font-bold text-metal mb-4">
        <span class="material-symbols-outlined text-sienna text-base pr-1">call</span>
         +598 (96) 666-902
    </p> 
    <div class="flex gap-4">
    <a href="#" target="_blank" rel="noopener noreferrer" class="bg-sienna text-white  p-2 hover:opacity-50 aspect-square">
        <img src="/static/img/linkedin.png" class="max-w-4 w-4 aspect-square" />
    </a>
    <a href="#" target="_blank" rel="noopener noreferrer" class="bg-sienna text-white p-2 hover:opacity-50  aspect-square">
         <img src="/static/img/whatsapp.png" class="max-w-4 w-4 aspect-square" />
    </a>
    </div>    
  </div>
</div>

