---
title: "Proyectos"
description: "Estos son algunos de los proyectos que hemos ayudado a mejorar"
background: "bg-agrimensor.png"
backgroundPosition: "bg-[center_top_-12rem]"
showClients: true
layout: page
---

<div class="vs-section mb-10">
    <h2 class="vs-heading">Intro.</h2>
    <h3 class="vs-sub-heading font-normal">
        Descubra el pináculo de la excelencia en ingeniería con Viento Sur Engenharia, una empresa uruguaya líder
        especializada en ingeniería civil y estructural.
    </h3>
</div>

<div class="container mx-auto">
    <div class="gap-4">
        <div class="py-7 w-full flex border-t border-sienna items-center">
            <img src="/static/img/clients/femsa-square.png" alt="Image Placeholder" class="h-[200px] max-36" />
            <div class="pl-4">
                <h2 class="text-2xl font-bold mb-2 font-titillium tracking-wider text-metal">Metsä Fibre</h2>
                <p class="text-metal font-roboto font-light mb-4 tracking-wider">
                    Metsä Fibre es un productor líder de bioproductos, químicos bioderivados y bioenergía a base de
                    madera. El proyecto consistió en gestionar el proceso de adquisición de maquinaria para la limpieza
                    del río.
                </p>
                <a
                    href="#"
                    class="bg-sienna hover:opacity-50 text-white font-bold py-2 px-4 rounded-full text-roboto text-sm"
                >
                    Leer mas
                </a>
            </div>
        </div>
        <div class="py-7 w-full flex border-b border-t border-sienna items-center">
            <img src="/static/img/clients/femsa-square.png" alt="Image Placeholder" class="h-[200px] max-36" />
            <div class="pl-4">
                <h2 class="text-2xl font-bold mb-2 font-titillium tracking-wider text-metal">Metsä Fibre</h2>
                <p class="text-metal font-roboto font-light mb-4 tracking-wider">
                    Metsä Fibre es un productor líder de bioproductos, químicos bioderivados y bioenergía a base de
                    madera. El proyecto consistió en gestionar el proceso de adquisición de maquinaria para la limpieza
                    del río.
                </p>
                <a
                    href="#"
                    class="bg-sienna hover:opacity-50 text-white font-bold py-2 px-4 rounded-full text-roboto text-sm"
                >
                    Leer mas
                </a>
            </div>
        </div>
    </div>
</div>
