@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
h1 {
    @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
    @apply text-2xl font-bold mb-3;
}
p {
    @apply font-roboto;
}
button {
    @apply transition-opacity;
}
button:hover {
    @apply opacity-70;
}
.vs-clients img {
    @apply grayscale opacity-50 hover:opacity-100 hover:grayscale-0 cursor-pointer max-h-[30px] max-w-[100px];
}
.vs-heading {
    @apply text-sienna text-2xl font-bold italic py-5;
}
.vs-sub-heading {
    @apply text-metal font-roboto text-base tracking-widest text-justify leading-normal;
}
.vs-hr {
    @apply border-sienna;
}
.vs-contact-form label {
    @apply mt-3;
}
.vs-contact-form input,
.vs-contact-form select,
.vs-contact-form textarea {
    @apply mt-1 block w-full  border-none focus:ring-metal-300 focus:border-metal-300 sm:text-sm text-metal bg-gray-100 px-3 py-3 font-light;
}

/* Viento Sur Custom Css */
@layer base {
    :root {
        --vs-color-sienna: #ef6f53;
        --vs-color-metal: #285a84;
    }
    /*#navbar-sticky a:hover,
     #navbar-sticky .selected {
        border-bottom: 2px solid var(--vs-color-sienna);
        padding-bottom: 5px;
    } */
}

@layer utilities {
    .partial-border,
    #navbar-sticky a {
        position: relative; /* Necessary for absolute positioning of pseudo-element */
    }
    .partial-border::after {
        --vs-partial-border: 3px;
        content: "";
        position: absolute;
        bottom: -5px; /* Adjust bottom position as needed */
        left: 0;
        width: 66.66%; /* 2/3 of the text width */
        height: var(--vs-partial-border);
        border-bottom: var(--vs-partial-border) solid var(--vs-color-sienna); /* Customize color and thickness */
    }
    .partial-border:hover::after,
    #navbar-sticky a:hover::after {
        --vs-partial-border: 3px;
        content: "";
        position: absolute;
        bottom: -5px; /* Adjust bottom position as needed */
        left: 0;
        width: 66.66%; /* 2/3 of the text width */
        height: var(--vs-partial-border);
        border-bottom: var(--vs-partial-border) solid var(--vs-color-sienna); /* Customize color and thickness */
    }
    .partial-border-6::after,
    .partial-border-6:hover::after {
        --vs-partial-border: 6px;
        bottom: -0.6rem !important;
    }
    .partial-border-leading-10 {
        bottom: -10px;
    }
    .full-width {
        width: 50vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -25vw;
        margin-right: -25vw;
    }
    .tab-active {
        background-color: var(--vs-color-sienna) !important;
        /* font-weight: bold; */
        color: white;
    }

    @media (max-width: 768px) {
        .partial-border:after {
            height: 3px;
            bottom: -5px;
        }
    }
    @media (max-width: 640px) {
        .full-width {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }
}
