---
layout: base
title: Viento Sur Ingeniería
path: home
---

<section class="h-screen relative bg-gray-900 text-white flex flex-col items-start justify-center bg-[url('/static/img/bg-home.png')]">
    <div class="absolute top-0 w-full h-5/6 bg-contain bg-no-repeat bg-top bg-[url('/static/img/grid-deco.png')]">
        <div class="container h-100 relative pt-16 max-w-screen-lg" Xstyle="border:1px solid red;">
            <h1 class="w-8/12 text-4xl md:text-6xl font-bold text-left items-start">Soluciones adaptadas a cada contexto</h1>
            <p class="mt-4 text-lg md:text-xl">Discover amazing products and services.</p>
            <div class="mt-8">
                <button type="button" class="font-light text-white font-titillium bg-metal rounded-md text-sm px-5 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 uppercase">Qué hacemos</button>

                <button type="button" class="py-3 px-5 me-2 mb-2 font-titillium text-sm font-light focus:outline-none bg-white rounded-md border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 uppercase text-sienna">Nuestro trabajo</button>
            </div>
        </div>
    </div>

</section>

<div class="inset-0 w-full h-[100vh] relative bg-contain bg-top bg-no-repeat max-h-full block bg-[url('/static/img/bg-home.png')]">
    <div class="absolute top-0 w-full h-5/6 bg-contain bg-no-repeat bg-top bg-[url('/static/img/grid-deco.png')]">
        <div class="container h-100 mt-16 max-w-screen-lg">
            <h1 class="text-6xl leading-[3.5rem] tracking-wide w-8/12 ml-2 text-white font-roboto font-medium">
                Soluciones adaptadas<br>a cada contexto
            </h1>
            <div class="ml-2 mt-8">
                <button type="button" class="font-light text-white font-titillium bg-metal rounded-md text-sm px-5 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 uppercase">Qué hacemos</button>

                <button type="button" class="py-3 px-5 me-2 mb-2 font-titillium text-sm font-light focus:outline-none bg-white rounded-md border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 uppercase text-sienna">Nuestro trabajo</button>
            </div>

        </div>    
    </div>

</div>



<div class="container pt-28 sm:pt-10 px-10 pb-8 mx-auto lg:h-screen flex flex-col justify-center items-center">
    <h1>
        <strong class="bg-clip-text font-titillium text-transparent bg-gradient-to-r from-metal-300 to-metal">{{title}}</strong>
    </h1>

    <p>
        Eleventy, DecapCMS, AlpineJS, Tailwind & Flowbite. Get Started by editing.
    </p>

    {# {% include "./_includes/partials/content.njk" %} #}
</div>