---
layout: base
title: Viento Sur Ingeniería
description: "Soluciones adaptadas a cada contexto"
path: home
---

<section
    class="h-screen max-h-[600px] relative bg-metal text-white flex bg-no-repeat flex-col items-start justify-center bg-cover bg-center bg-[url('/static/img/backgrounds/bg-que-hacemos.jpg')] border-metal border-b-[20px] bg-blend-multiply from-transparent to-gray-400 Xbg-gradient-to-b"
>
    <div
        class="absolute top-0 w-full h-5/6 bg-cover bg-no-repeat bg-top bg-[url('/static/img/grid-deco-opacity-50.png')]"
    >
        <div class="container h-100 relative pt-24 max-w-screen-lg flex md:block flex-col items-center">
            <h1
                class="w-3/4 md:w-9/12 text-4xl md:text-6xl font-bold font-robotocondensed text-center md:text-left items-center md:items-start uppercase tracking-normal partial-border partial-border-6"
            >
                Soluciones adaptadas a cada contexto
            </h1>

            <p class="mt-4 text-center md:text-left font-medium text-lg md:text-2xl font-titillium">
                {{ description }}
            </p>

            <div class="mt-8 text-center md:text-left">
                <a
                    href="/que-hacemos/"
                    type="button"
                    class="font-light text-white font-titillium bg-metal rounded-md text-sm px-5 py-3 me-2 mb-2 hover:opacity-50 uppercase"
                >
                    Qué hacemos
                </a>

                <a
                    href="/proyectos/"
                    type="button"
                    class="py-3 px-5 me-2 mb-2 font-titillium text-sm font-light bg-white rounded-md border border-gray-200 hover:opacity-50 focus:z-10 focus:ring-4 focus:ring-gray-100 uppercase text-sienna"
                >
                    Nuestro trabajo
                </a>
            </div>
        </div>
    </div>
</section>

{% include "clients.njk" %}

<div class="container relative {% if fullWidth %}max-w-screen-lg{%else%}max-w-screen-sm{%endif%} {{ marginTop }} flex items-start justify-center px-7 md:px-0 {% if showClients %}-top-14{%endif%}">
    {% if not fullWidth %}<div class="block">{%endif%}
        {# <div class="vs-section">
            <h2 class="vs-heading">Intro.</h2>
            <h3 class="vs-sub-heading font-normal">
                En Viento Sur Ingeniería, somos apasionados por el arte de la construcción, donde la precisión y la innovación se unen para dar vida a proyectos excepcionales. Somos una firma de ingeniería civil y estructural con sede en Uruguay, donde nuestra experiencia y compromiso nos han convertido en referentes en la región. 
            </h3>
            <div class="py-5"><hr class="vs-hr" /></div>
        </div>         #}
       <div class="vs-section vs-home">
            {% renderTemplate "njk, md", homepage %}    
                    {{ content | safe }}
            {% endrenderTemplate %}
        </div>
    {% if not fullWidth %}</div>{%endif%}
</div>



