---
layout: base
title: Viento Sur Ingeniería
path: home
---

<section class="h-screen max-h-[600px] relative bg-metal text-white flex bg-no-repeat flex-col items-start justify-center bg-[url('/static/img/bg-home.png')] border-metal border-b-[20px]">
    <div class="absolute top-0 w-full h-5/6 bg-contain bg-no-repeat bg-top bg-[url('/static/img/grid-deco-opacity-50.png')]">
        <div class="container h-100 relative pt-16 max-w-screen-lg" Xstyle="border:1px solid red;">
            <h1 class="w-8/12 text-4xl md:text-6xl font-bold text-left items-start">Soluciones adaptadas a cada contexto</h1>
            <p class="mt-4 text-lg md:text-xl">Discover amazing products and services.</p>
            <div class="mt-8">
                <button type="button" class="font-light text-white font-titillium bg-metal rounded-md text-sm px-5 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 uppercase">Qué hacemos</button>

                <button type="button" class="py-3 px-5 me-2 mb-2 font-titillium text-sm font-light focus:outline-none bg-white rounded-md border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 uppercase text-sienna">Nuestro trabajo</button>
            </div>
        </div>
    </div>
</section>
¡
<section class="container h-[80px] bg-white relative max-w-screen-lg -top-20">
    <div class="absolute -top-14 -left-[2.8rem] transform translate-y-1/2 translate-x-1/4">
        <div class="px-4 py-2 pb-0 relative  bg-white border border-white">
            <h3 class="text-sm md:text-base  text-metal  hover:opacity-70 font-light font-titillium uppercase partial-border">
                Nuestros clientes
            </h3>
        </div>
    </div>
    <ul class="vs-clients flex justify-between items-center space-x-8 px-9 pt-5">
        <li><img src="/static/img/clients/megalabs-logo.png" alt="Megalabs Logo" /></li>
        <li><img src="/static/img/clients/murchison-logo.png" alt="Murchison Logo" /></li>
        <li><img src="/static/img/clients/femsa-logo.png" alt="Femsa Logo" /></li>
        <li><img src="/static/img/clients/satelogic-logo.png" alt="SateLogi Logo" /></li>
        <li><img src="/static/img/clients/gerdau-logo.png" alt="Gerdau Logo" /></li>
        <li><img src="/static/img/clients/tubacero-logo.png" alt="Tubacero Logo" /></li>
        <li><img src="/static/img/clients/ute-logo.png" alt="UTE Logo" /></li>
    </ul>    

</section>

<div class="container px-10 pb-8 mx-auto mb-[10rem] flex flex-col justify-start items-center">
    <h1>
        <strong class="bg-clip-text font-titillium text-transparent bg-gradient-to-r from-metal-300 to-metal">{{title}}</strong>
    </h1>

    <p>
        Eleventy, DecapCMS, AlpineJS, Tailwind & Flowbite. Get Started by editing.
    </p>

    {# {% include "./_includes/partials/content.njk" %} #}
</div>